

<div>
    <form action="/users/find_email" method="post">
        <label for="email">Enter E-Mail</label>
        <input type="email" name="email" required>
        <button type="submit">Reset-Password</button>
    </form>
</div>