<div>
    <form action="/users/reset-password/<%=reset.accesstoken%>" method="post">
        <label for="password">New-Password</label>
        <input type="text" name="password" placeholder="Enter New-Password" id="password" required>
        <label for="confermPassword">Conferm New-Password</label>
        <input type="password" name="confermPassword" placeholder="Conferm Password" id="confermPassword" required>
        <button type="submit">Change-Password</button>
    </form>
</div>