<link rel="stylesheet" href="/css/user_layout.css">
        <h1>
            Codeil/<%=header%>
        </h1>

        <p>Name= <%= profile_user.name%></p>
        <p>Email= <%= profile_user.email%></p>