<h1>
    Codeil/<%=header%>
</h1>

<!-- <div>
    <form action="/create-profile">
        <label for="userEmail"></label>
        <input type="email" name="email" id="userEmail" required>
    </form>
</div> -->