<h1>
    Codeil/<%=header%>
</h1>
<div>
    <form action="/users/create-session" method="post">
        <label for="userEmail"></label>
        <input type="email" name="email" required>
        <input type="password" name="password" required>
        <button type="submit">Log-in</button>
    </form>
</div>
<p>
    <a href="/users/auth/google">Google sign-In/Up</a>
</p>